<!DOCTYPE html>
<html>
<head>
  <title>Yelptest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 
</head>
<body>
<div class="text-center">
	<img width="800" height="300" src ="https://files.slack.com/files-pri/T03H88RF4-F06TG6UP6/chito_logo.jpg">
</div>
<%= yield %>

</body>
</html>
